.container{
    display:flex;
    flex-direction:row;
    gap: 10px;
    overflow-x: scroll;
    height: 120px;

    background-color: var(--sec-col);;
    justify-self: self-end;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--card-col);
    color: rgb(189, 189, 189);
    width: 400px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    
    
    h1{
        font-size: 2em;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    p{
        font-size: 1.5em;
    }
    
}
.card-container:first-child{
    margin-left: 10px;
}