@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --pri-col: #252424; /*#252424;*/
    --sec-col: rgb(19, 35, 49, 0.3); /*rgb(19, 35, 49)*/
    --card-col: rgb(24, 43, 60);
    --btn-prim: rgb(49, 49, 142);

}


.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url("public/Bg-img.png");
    background-size: cover;
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    touch-action: none;
}
.main-container-occupied{
    background-image: url("public/Bg-img-occupied.png");
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:30px;
    padding-left: 30px;
    padding: 30px 30px 0 30px;
    align-items: center;
}



.clock{
    font-size: 5em;
    color: rgb(214, 214, 214);
}



.meeting-info-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 30px 0 30px;
}

.meeting-details{
    h1{
        font-size: 5em;
        color: white;
        font-weight: 600;
        margin-bottom: 20px;
        max-width: 100%;
        text-wrap: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    h2{
        font-size: 2em;
        color: white;
        font-weight: 600;
    }
}

.primary-btn{
    position:relative;
    padding: 15px 25px;
    font-size: 2em;
    border-radius: 10px;
    border-style: none;
    background-color: var(--btn-prim);
    color: white;
    font-weight: 600;
    height: 70px;
    min-width: 150px;
}

.secondary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px 25px;
    font-size: 2em;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: 600;
    color: white;
    height: 70px;
    min-width: 150px;
}
.disabled-btn{
    position: relative;
    padding: 15px 25px;
    font-size: 2em;
    border-radius: 10px;
    border: 2px solid rgb(162, 159, 159);
    background-color: transparent;
    font-weight: 600;
    color: rgb(134, 131, 131);
    height: 70px;
    pointer-events: none;
}


button:active{
    transform: scale(0.92);
}
.spinner{
    position: absolute;
    padding: 0 20px 0 20px;
    top: 15%;
    left: 35%;
    transform: translate(-50, -50%);
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    border-bottom: 3px solid transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* Wheel animation */
/* .countdown--start{
    animation: anim-open 1.5s ease-out; 
}
.countdown--end{
    animation: anim-close 1.5s ease-out; 
}

@keyframes anim-close {
   
    100% {
        stroke-dasharray: 1130;
        stroke-dashoffset: 1130;
    }
}
@keyframes anim-open {
   
    0%{
        stroke-dasharray: 1130;
        stroke-dashoffset: 1130;
    }
    100% {
        stroke-dasharray: 1130;
        stroke-dashoffset: 0;
    }
} */