*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url("src/assets/Bg-img.png");
    display:flex;
    flex-direction: column;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}